[default]
region = us-east-1
output = json

[profile tsmc]
aws_access_key_id={{ (onepasswordItemFields "ydp3okfo6rdddjvprhjme3gzvq").aws_access_key_id.v }}
aws_secret_access_key={{ (onepasswordItemFields "ydp3okfo6rdddjvprhjme3gzvq").aws_secret_access_key.v }}

[profile personal]
aws_access_key_id={{ (onepasswordItemFields "jg4gq6tl35glpmdgmkikskxpuy").aws_access_key_id.v }}
aws_secret_access_key={{ (onepasswordItemFields "jg4gq6tl35glpmdgmkikskxpuy").aws_secret_access_key.v }}

[profile rstudio]
sso_start_url = https://rstudio.awsapps.com/start
sso_region = us-east-2
sso_account_id = 263245908434
sso_role_name = PackageManagerTeam
region = us-east-1
output = json

[profile rspm-team-admin]
sso_start_url = https://rstudio.awsapps.com/start
sso_region = us-east-2
sso_account_id = 528395739535
sso_role_name = PowerUser
region = us-west-2
output = json

[profile rspm-staging-readonly]
sso_start_url = https://rstudio.awsapps.com/start
sso_region = us-east-2
sso_account_id = 623396076422
sso_role_name = User
region = us-east-1
output = json

[profile rspm-prod-readonly]
sso_start_url = https://rstudio.awsapps.com/start
sso_region = us-east-2
sso_account_id = 387904689009
sso_role_name = User
region = us-east-1
output = json
