{{ $machine_id := promptStringOnce . "machine_id" "Machine ID" }}
{{ $is_codespaces := promptBoolOnce . "is_codespaces" "Is this on GitHub Codespaces?" }}
{{ $system_package_manager := promptStringOnce . "system_package_manager" "What is the system packager manager?" }}

[data]
    github_username = "shepherdjerred"
    machine_id = {{ $machine_id | quote }}
    is_codespaces = {{ $is_codespaces }}
    system_package_manager = {{ $system_package_manager | quote }}
