[commit]
    gpgsign = true
[user]
	email = shepherdjerred@gmail.com
	name = Jerred Shepherd
    signingkey = ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDxNpFK/kKbp53DJarquYTeNZXLnYNbSjQiEti24vRqHIRmD3wvLpX1NiiIY7xnP3rwEY8s1NjHarKXLYmCBrOZKkBxu5U6ROyLMCCfhCXBcJXUVJng1PmoJ4+hlIPWq3I136Y4ZP1xiKWKVuMa6vC06wqA5m6bh5TEqDNOP+cW6dn3qX7sy0qNtiZU8VmJ5fM9kHA02bZf3YYlK4780ESVY8RU3zOTZDvnOZUuIRLpMgsDH3eqyu2AKvnMNPrNxSYGffd6PXeng2rIEaV49/LnO1Cw61vDWYUL8jULzZ+SqE5ydnOUGfqguOTEYbtaXhBrYECgDCDGvRXF0VAaj3D7
[gpg]
    format = ssh
[gpg "ssh"]
{{ if eq .chezmoi.os "darwin" -}}
    program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{ end -}}
[color]
	ui = auto
[core]
	autocrlf = input
	pager = delta
	excludesfile = ~/.gitignore_global
{{ if eq .is_codespaces true }}
	editor = code --wait
{{ else }}
	editor = vim
{{ end }}
	whitespace = -trailing-space
[commit]
	gpgsign = true
	template = ~/.gitmessage
[credential]
{{ if eq .chezmoi.os "darwin" }}
	helper = osxkeychain
{{ else if eq .chezmoi.os "linux" }}
    helper = store
{{ end }}
[pull]
	ff = true
	rebase = true
[rebase]
    autostash = true
	autosquash = true
[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta
[interactive]
    diffFilter = delta --color-only
[fetch]
    prune = true
[help]
	autocorrect = 5
[diff]
	mnemonicPrefix = true
	rename = true
	tool = code
    colorMoved = default
[difftool "code"]
	cmd = code --wait --diff $LOCAL $REMOTE
[log]
	abbrevCommit = true
[tab]
	sort = version:refname
[versionsort]
	prereleaseSuffix = -pre
	prereleaseSuffix = .pre
	prereleaseSuffix = -beta
	prereleaseSuffix = .beta
	prereleaseSuffix = -rc
	prereleaseSuffix = .rc
[rerere]
	enabled = true
[merge]
    conflictstyle = diff3
[delta]
    navigate = true
    syntax-theme = Nord
[init]
    defaultBranch = main
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
