[user]
	email = ShepherdJerred@gmail.com
	name = Jerred Shepherd
	signingkey = AE916DBD9E0A6A73
[core]
	autocrlf = input
[commit]
	gpgsign = true
[credential]
{{ if eq .chezmoi.os "darwin" -}}
	helper = osxkeychain
{{ else if eq .chezmoi.os "linux" -}}
    helper = store"
{{ end -}}

