#!/usr/bin/env python3
import sys
import json

# Read existing file
data = json.load(sys.stdin)

# Update mcpServers with templated secrets
data["mcpServers"] = {{ template "claude-mcp-additional-servers.json.tmpl" . }}

# Output modified file
json.dump(data, sys.stdout, indent=2)
sys.stdout.write("\n")
