#!/usr/bin/env bash

set -exu

{{ if eq .chezmoi.os "linux" -}}
{{ if eq .system_package_manager "apt" -}}
sudo apt update; sudo apt upgrade
{{ else if eq .system_package_manager "yum" -}}
sudo yum update
{{ end -}}
{{ end -}}

fish -c "fisher update"
vim +PlugUpdate +qall

if command -v brew > /dev/null; then
  brew update
  brew upgrade
  brew bundle install --file ~/.homebrew/Brewfile
  rm ~/.homebrew/Brewfile
  brew bundle dump --file ~/.homebrew/Brewfile
fi

if command -v asdf > /dev/null; then
  asdf plugin update --all
  asdf install
fi

if command -v rustup > /dev/null; then
  rustup update
fi

if command -v pip > /dev/null; then
  pip install --upgrade pip
fi

if command -v npm > /dev/null; then
  npm update; npm upgrade
  npm install -g npm
  rm -v ~/package-lock.json
fi
