#!/usr/bin/env bash

set -exu

{{ if eq .chezmoi.os "linux" -}}
{{ if eq .system_package_manager "apt" -}}
sudo apt update; sudo apt upgrade
{{ else if eq .system_package_manager "yum" -}}
sudo yum update
{{ end -}}
{{ end -}}

fisher update
vim +PlugUpdate +qall

if [ -x brew ]; then
  brew update
  brew upgrade
  brew bundle install --file ~/.homebrew/Brewfile
  rm ~/.homebrew/Brewfile
  brew bundle dump --file ~/.homebrew/Brewfile
fi

if [ -x asdf ]; then
  asdf plugin update --all
  asdf install
fi

if [ -x rustup ]; then
  rustup update
fi

if [ -x pip ]; then
  pip install --upgrade pip
fi

if [ -x npm ]; then
  npm update; npm upgrade
  npm install -g npm
  rm -v ~/package-lock.json
fi
