github.com:
    git_protocol: https
    user: shepherdjerred
    oauth_token: '{{ onepasswordRead "op://v64ocnykdqju4ui6j6pua56xw4/kjzy27cw4ialemerahutnxis3a/password" }}'
    users:
        shepherdjerred:
            oauth_token: '{{ onepasswordRead "op://v64ocnykdqju4ui6j6pua56xw4/kjzy27cw4ialemerahutnxis3a/password" }}'
