[profile seaweedfs]
endpoint_url = https://seaweedfs.sjer.red
region = us-east-1

[profile r2]
endpoint_url = {{ onepasswordRead "op://v64ocnykdqju4ui6j6pua56xw4/ypce2djferc6zf7bocxft36n6a/ENDPOINT" }}
region = auto
