[seaweedfs]
aws_access_key_id = {{ onepasswordRead "op://v64ocnykdqju4ui6j6pua56xw4/seaweedfs-s3-credentials/access_key" }}
aws_secret_access_key = {{ onepasswordRead "op://v64ocnykdqju4ui6j6pua56xw4/seaweedfs-s3-credentials/secret_key" }}

[r2]
aws_access_key_id = {{ onepasswordRead "op://v64ocnykdqju4ui6j6pua56xw4/ypce2djferc6zf7bocxft36n6a/ACCESS_KEY_ID" }}
aws_secret_access_key = {{ onepasswordRead "op://v64ocnykdqju4ui6j6pua56xw4/ypce2djferc6zf7bocxft36n6a/SECRET_ACCESS_KEY" }}
