Include rstudio

Host *
{{ if eq .chezmoi.os "darwin" -}}
  UseKeychain yes
  AddKeysToAgent yes
{{ end }}
  IdentityFile ~/.ssh/id_rsa
Host zeus
  HostName tailscale.zeus.shepherdjerred.com
Host zeus-public
  HostName public.zeus.shepherdjerred.com
Host persephone
  HostName tailscale.persephone.shepherdjerred.com
  User debian
Host persephone-public
  HostName public.persephone.shepherdjerred.com
  User debian
Host glitter-minecraft
  HostName glitter-minecraft.shepherdjerred.com
