Include rstudio

Host *
{{ if eq .chezmoi.os "darwin" -}}
  UseKeychain yes
  AddKeysToAgent yes
{{ end }}
  IdentityFile ~/.ssh/id_rsa
Host zeus
  HostName nas.home.shepherdjerred.com
  User jerred
Host hades
  HostName hades.shepherdjerred.com
  User jerred
Host minecraft
  HostName minecraft.shepherdjerred.com
  User jerred
Host factorio
  HostName factorio.shepherdjerred.com
  User jerred
Host dionysus
  HostName dionysus.shepherdjerred.com
  User jerred
Host tsmc
  HostName ts-mc.net
  User ec2-user
Host tsmc-minecraft
  HostName minecraft.ts-mc.net
  User debian
