Host *
{{ if eq .chezmoi.os "darwin" -}}
  UseKeychain yes
  AddKeysToAgent yes
{{ end }}
  IdentityFile ~/.ssh/id_rsa
Host nas
  HostName nas.home.shepherdjerred.com
  User jerred
Host hades
  HostName hades.shepherdjerred.com
  User jerred
Host minecraft
  HostName minecraft.shepherdjerred.com
  User jerred
Host factorio
  HostName factorio.shepherdjerred.com
  User jerred
Host dev
  HostName ec2-3-128-189-181.us-east-2.compute.amazonaws.com
  User jerred
Host ppms01
    User shepherdjerred
    HostName 18.207.68.232
    StrictHostKeyChecking no
    UserKnownHostsFile=/dev/null
    ForwardAgent yes
Host ppmp01
    User shepherdjerred
    HostName 34.200.201.1
    StrictHostKeyChecking no
    UserKnownHostsFile=/dev/null
    ForwardAgent yes
Host *.ppms01
    User shepherdjerred
    ProxyCommand ssh ppms01 nc -q0 %h %p
    StrictHostKeyChecking no
    UserKnownHostsFile=/dev/null
Host *.ppmp01
    User shepherdjerred
    ProxyCommand ssh ppmp01 nc -q0 %h %p
    StrictHostKeyChecking no
    UserKnownHostsFile=/dev/null
Host login.rstudiopm
    HostName login.rstudiopm.rstudioservices.com
Host cran.rstudiopm
    ProxyCommand ssh login.rstudiopm nc -q0 %h.rstudioservices.com %p
Host bastion.rstudiopm.com
    User awsreservedsso_poweruser_xxxxxxx
Host *.rstudiopm
    ProxyCommand ssh bastion.rstudiopm.com nc -q0 %h %p
    User awsreservedsso_poweruser_xxxxxxx