{
  "mcpServers": {
    "grafana": {
      "command": "go",
      "args": [
        "run",
        "github.com/grafana/mcp-grafana/cmd/mcp-grafana@latest",
        "--disable-oncall",
        "--disable-incident",
        "--disable-admin",
        "--disable-navigation",
        "--disable-pyroscope"
      ],
      "env": {
        "GRAFANA_URL": "https://grafana.tailnet-1a49.ts.net/",
        "GRAFANA_SERVICE_ACCOUNT_TOKEN": "{{ onepasswordRead "op://v64ocnykdqju4ui6j6pua56xw4/w5y6wldczvojkh3yxe5zadkpvi/password" }}"
      }
    },
    "pagerduty-mcp": {
      "command": "uvx",
      "args": [
        "pagerduty-mcp"
      ],
      "env": {
        "PAGERDUTY_USER_API_KEY": "{{ onepasswordRead "op://v64ocnykdqju4ui6j6pua56xw4/yio3tx4wkvysvy5umdrqh7fe2e/password" }}"
      }
    },
    "github": {
      "command": "/Users/jerred/.local/share/mise/shims/bunx",
      "args": [
        "-y",
        "@modelcontextprotocol/server-github"
      ],
      "env": {
        "GITHUB_PERSONAL_ACCESS_TOKEN": "{{ onepasswordRead "op://v64ocnykdqju4ui6j6pua56xw4/kjzy27cw4ialemerahutnxis3a/password" }}"
      }
    },
    "playwright": {
      "command": "/Users/jerred/.local/share/mise/shims/bunx",
      "args": [
        "-y",
        "@playwright/mcp"
      ]
    }
  }
}
