{{ if eq .chezmoi.os "linux" -}}
set fish_user_paths ~/.local/bin/ $fish_user_paths
set fish_user_paths ~/bin/ $fish_user_paths
set fish_user_paths ~/.ash/bin/ $fish_user_paths
set fish_user_paths /home/linuxbrew/.linuxbrew/bin $fish_user_paths

source ~/.asdf/asdf.fish

if status is-interactive
    export GPG_TTY=(tty)
end
{{ end -}}

if status is-interactive
    # Bring interactive shells into the future
    alias vim nvim
    alias ls exa
    alias l exa
    alias cat bat
    alias grep rg
    alias !! __fish_prepend_sudo
    alias finder "open -a Finder"

    alias xmake "make -f Makefile.macos"

    set -gx EDITOR nvim
    fish_vi_key_bindings

    __abbr_tips_init

    starship init fish | source
    [ -f /opt/homebrew/share/autojump/autojump.fish ]; and source /opt/homebrew/share/autojump/autojump.fish
end

set GOROOT (asdf where golang)/go
set GOPATH (asdf where golang)/packages

{{ if eq .chezmoi.os "darwin" -}}
source {{ get .homebrew_path .chezmoi.arch }}/opt/asdf/asdf.fish
{{ end -}}
