fish_add_path (brew prefix)/bin
fish_add_path /Users/jerred/.local/bin
fish_add_path /Users/jerred/.bin

if status is-interactive
    # Bring interactive shells into the future
    alias vim lvim
    alias ls exa
    alias l exa
    alias nmake "make -f (git rev-parse --show-toplevel)/scripts/makefiles/Makefile"

    # Force brew binaries
    alias pipenv (brew prefix)/bin/pipenv
    alias aws (brew prefix)/bin/aws

    {{ if eq .chezmoi.os "darwin" -}}
      alias finder "open -a Finder"
    {{ end }}

    set -gx EDITOR lvim
    fish_vi_key_bindings

    __abbr_tips_init

    starship init fish | source
end

source (brew --prefix)/opt/asdf/libexec/asdf.fish
