jorgebucaran/fisher
jorgebucaran/autopair.fish
jhillyerd/plugin-git
gazorby/fish-abbreviation-tips
meaningful-ooo/sponge
nickeb96/puffer-fish
{{- if eq .chezmoi.os "linux" }}
danhper/fish-ssh-agent
{{- end -}}
